<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Climáticos</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .iframe-container {
            max-width: 100%;
            margin-top: 20px; /* Adicionei um espaço extra acima do iframe */
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <h1 style="margin: 0;">Dashboard Defesa Civil MT</h1>
        <div class="iframe-container">
            <iframe src="https://lookerstudio.google.com/embed/reporting/5d131117-3b05-4eb7-a86b-d9cd800858d9/page/uJhbD" width="1200" height="650"></iframe>
            <div class="container" style="background: linear-gradient(to bottom, #cedddc, #c4dad8); border-radius: 10px; padding: 20px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
                <br>
                <a href="/mapa"><button style="background-color: #60e2d7; color: black; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Monitoramento climático Mapa</button></a>
            </div>
                 
</body>
</html>
