<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3d930b710f96e0a52efc6e0cb073c6fe {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3d930b710f96e0a52efc6e0cb073c6fe" ></div>
        
</body>
<script>
    
    
            var map_3d930b710f96e0a52efc6e0cb073c6fe = L.map(
                "map_3d930b710f96e0a52efc6e0cb073c6fe",
                {
                    center: [-13.3134, -55.9704],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dd9e6b8271f4a6c3977b54a53d12a6eb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var marker_7f93e25356a24c786102e3942439e465 = L.marker(
                [-10.6413, -51.5698],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_91f6935e7c1ffbb49e17cc81550ac3ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7f93e25356a24c786102e3942439e465.setIcon(icon_91f6935e7c1ffbb49e17cc81550ac3ed);
        
    
        var popup_53efabc1bf98ed102f8e54cd62eabb4c = L.popup({"maxWidth": "100%"});

        
            
                var html_ac7298eda894d2a5bc6f78196f8667a9 = $(`<div id="html_ac7298eda894d2a5bc6f78196f8667a9" style="width: 100.0%; height: 100.0%;">Cidade: Confresa&lt;br&gt;Descrição: broken clouds&lt;br&gt;Temperatura: 42.18°C&lt;br&gt;Umidade: 14%</div>`)[0];
                popup_53efabc1bf98ed102f8e54cd62eabb4c.setContent(html_ac7298eda894d2a5bc6f78196f8667a9);
            
        

        marker_7f93e25356a24c786102e3942439e465.bindPopup(popup_53efabc1bf98ed102f8e54cd62eabb4c)
        ;

        
    
    
            var marker_1b4a44fdd1bb222f68aea07724e66fe5 = L.marker(
                [-11.8606, -55.5094],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_9b850adbedf3b722de8d7493130fec66 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1b4a44fdd1bb222f68aea07724e66fe5.setIcon(icon_9b850adbedf3b722de8d7493130fec66);
        
    
        var popup_5d1d697ad0abc200f86c48b3beec7a73 = L.popup({"maxWidth": "100%"});

        
            
                var html_14f9c3eac8eac93e662036362da99b8c = $(`<div id="html_14f9c3eac8eac93e662036362da99b8c" style="width: 100.0%; height: 100.0%;">Cidade: Sinop&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 40.58°C&lt;br&gt;Umidade: 16%</div>`)[0];
                popup_5d1d697ad0abc200f86c48b3beec7a73.setContent(html_14f9c3eac8eac93e662036362da99b8c);
            
        

        marker_1b4a44fdd1bb222f68aea07724e66fe5.bindPopup(popup_5d1d697ad0abc200f86c48b3beec7a73)
        ;

        
    
    
            var marker_fc582d8071a5b40459e93e6f124578e6 = L.marker(
                [-15.8917, -52.2567],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_c77e9e74cfe12f2dee6168be5fecb9c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fc582d8071a5b40459e93e6f124578e6.setIcon(icon_c77e9e74cfe12f2dee6168be5fecb9c4);
        
    
        var popup_59dd5a5e053335f1cd6745f208cbef80 = L.popup({"maxWidth": "100%"});

        
            
                var html_2d87f1af2c3fa1d55c06c3e2ec42ec06 = $(`<div id="html_2d87f1af2c3fa1d55c06c3e2ec42ec06" style="width: 100.0%; height: 100.0%;">Cidade: Barra do Garças&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 40.72°C&lt;br&gt;Umidade: 21%</div>`)[0];
                popup_59dd5a5e053335f1cd6745f208cbef80.setContent(html_2d87f1af2c3fa1d55c06c3e2ec42ec06);
            
        

        marker_fc582d8071a5b40459e93e6f124578e6.bindPopup(popup_59dd5a5e053335f1cd6745f208cbef80)
        ;

        
    
    
            var marker_6d8491bd015d0fe2d9cc4598ae9fb86c = L.marker(
                [-15.0067, -59.95],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_6351d7c4664ad1030da1cbbd615522b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6d8491bd015d0fe2d9cc4598ae9fb86c.setIcon(icon_6351d7c4664ad1030da1cbbd615522b3);
        
    
        var popup_50165fa69880f867ae15c07a99eb52fb = L.popup({"maxWidth": "100%"});

        
            
                var html_36651b79c6c87389e6d46a14875ddf23 = $(`<div id="html_36651b79c6c87389e6d46a14875ddf23" style="width: 100.0%; height: 100.0%;">Cidade: Vila Bela da Santíssima Trindade&lt;br&gt;Descrição: broken clouds&lt;br&gt;Temperatura: 35.23°C&lt;br&gt;Umidade: 36%</div>`)[0];
                popup_50165fa69880f867ae15c07a99eb52fb.setContent(html_36651b79c6c87389e6d46a14875ddf23);
            
        

        marker_6d8491bd015d0fe2d9cc4598ae9fb86c.bindPopup(popup_50165fa69880f867ae15c07a99eb52fb)
        ;

        
    
    
            var marker_d74ea9efced7c3940f9d1ea64e1a7145 = L.marker(
                [-15.2261, -59.3353],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_e6e98dadc4150482fc6c511e89048a3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d74ea9efced7c3940f9d1ea64e1a7145.setIcon(icon_e6e98dadc4150482fc6c511e89048a3a);
        
    
        var popup_898278873d96b816fc817434f139104e = L.popup({"maxWidth": "100%"});

        
            
                var html_f236ced97cf179d03f6c46ce2185c7ae = $(`<div id="html_f236ced97cf179d03f6c46ce2185c7ae" style="width: 100.0%; height: 100.0%;">Cidade: Pontes e Lacerda&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 35.79°C&lt;br&gt;Umidade: 35%</div>`)[0];
                popup_898278873d96b816fc817434f139104e.setContent(html_f236ced97cf179d03f6c46ce2185c7ae);
            
        

        marker_d74ea9efced7c3940f9d1ea64e1a7145.bindPopup(popup_898278873d96b816fc817434f139104e)
        ;

        
    
    
            var marker_c3f668fc6c76a8b929d4cbacc7ddd579 = L.marker(
                [-11.3728, -58.7489],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_ae63576605e4797efdd4bcda3c3f062b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c3f668fc6c76a8b929d4cbacc7ddd579.setIcon(icon_ae63576605e4797efdd4bcda3c3f062b);
        
    
        var popup_f819990593c28f8692f8a8b3090c8620 = L.popup({"maxWidth": "100%"});

        
            
                var html_bc9becc338ed302d40ba12fafb71b743 = $(`<div id="html_bc9becc338ed302d40ba12fafb71b743" style="width: 100.0%; height: 100.0%;">Cidade: Juína&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 35.64°C&lt;br&gt;Umidade: 29%</div>`)[0];
                popup_f819990593c28f8692f8a8b3090c8620.setContent(html_bc9becc338ed302d40ba12fafb71b743);
            
        

        marker_c3f668fc6c76a8b929d4cbacc7ddd579.bindPopup(popup_f819990593c28f8692f8a8b3090c8620)
        ;

        
    
    
            var marker_7f246b0690201b16a2acef5102338724 = L.marker(
                [-14.6229, -57.5],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_13aacaa8b23d1a8226eab1f2d3e73251 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7f246b0690201b16a2acef5102338724.setIcon(icon_13aacaa8b23d1a8226eab1f2d3e73251);
        
    
        var popup_cee833eeabb23ed6ea16c72b30f690c8 = L.popup({"maxWidth": "100%"});

        
            
                var html_14ca83a7bda9b59b1e23e38f2b489152 = $(`<div id="html_14ca83a7bda9b59b1e23e38f2b489152" style="width: 100.0%; height: 100.0%;">Cidade: Tangará da Serra&lt;br&gt;Descrição: broken clouds&lt;br&gt;Temperatura: 36.56°C&lt;br&gt;Umidade: 28%</div>`)[0];
                popup_cee833eeabb23ed6ea16c72b30f690c8.setContent(html_14ca83a7bda9b59b1e23e38f2b489152);
            
        

        marker_7f246b0690201b16a2acef5102338724.bindPopup(popup_cee833eeabb23ed6ea16c72b30f690c8)
        ;

        
    
    
            var marker_30930d0c68333975c5a1904ec46cd4b0 = L.marker(
                [-14.4032, -56.4379],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_a58ce34bd5882e878b83613f462a3967 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_30930d0c68333975c5a1904ec46cd4b0.setIcon(icon_a58ce34bd5882e878b83613f462a3967);
        
    
        var popup_a8faea6478746277ebc723caa1acb1ac = L.popup({"maxWidth": "100%"});

        
            
                var html_d4183d3fff7d11ab35899eb1a2f0ed8f = $(`<div id="html_d4183d3fff7d11ab35899eb1a2f0ed8f" style="width: 100.0%; height: 100.0%;">Cidade: Diamantino&lt;br&gt;Descrição: overcast clouds&lt;br&gt;Temperatura: 40.50°C&lt;br&gt;Umidade: 20%</div>`)[0];
                popup_a8faea6478746277ebc723caa1acb1ac.setContent(html_d4183d3fff7d11ab35899eb1a2f0ed8f);
            
        

        marker_30930d0c68333975c5a1904ec46cd4b0.bindPopup(popup_a8faea6478746277ebc723caa1acb1ac)
        ;

        
    
    
            var marker_3592a503f649baa1624d42bbe1146ac6 = L.marker(
                [-16.0769, -57.6819],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_a5adc1947394d99e454d40c7ea1e886b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3592a503f649baa1624d42bbe1146ac6.setIcon(icon_a5adc1947394d99e454d40c7ea1e886b);
        
    
        var popup_24ed7ae6b2a11a1d936e61997b64f739 = L.popup({"maxWidth": "100%"});

        
            
                var html_e4d2ced11ac60b37cf55fdb29fd32a84 = $(`<div id="html_e4d2ced11ac60b37cf55fdb29fd32a84" style="width: 100.0%; height: 100.0%;">Cidade: Cáceres&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 39.50°C&lt;br&gt;Umidade: 24%</div>`)[0];
                popup_24ed7ae6b2a11a1d936e61997b64f739.setContent(html_e4d2ced11ac60b37cf55fdb29fd32a84);
            
        

        marker_3592a503f649baa1624d42bbe1146ac6.bindPopup(popup_24ed7ae6b2a11a1d936e61997b64f739)
        ;

        
    
    
            var marker_0e031ef04c717c9fae851ecdd974b316 = L.marker(
                [-15.9548, -54.9682],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_5797596ea0eac3a5de9330ae6fa5dce5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0e031ef04c717c9fae851ecdd974b316.setIcon(icon_5797596ea0eac3a5de9330ae6fa5dce5);
        
    
        var popup_8670d3cb7764fa84cbd9f0bdeacdb576 = L.popup({"maxWidth": "100%"});

        
            
                var html_d99e2eb19909b9aadb83e13e46048369 = $(`<div id="html_d99e2eb19909b9aadb83e13e46048369" style="width: 100.0%; height: 100.0%;">Cidade: Jaciara&lt;br&gt;Descrição: broken clouds&lt;br&gt;Temperatura: 41.31°C&lt;br&gt;Umidade: 16%</div>`)[0];
                popup_8670d3cb7764fa84cbd9f0bdeacdb576.setContent(html_d99e2eb19909b9aadb83e13e46048369);
            
        

        marker_0e031ef04c717c9fae851ecdd974b316.bindPopup(popup_8670d3cb7764fa84cbd9f0bdeacdb576)
        ;

        
    
    
            var marker_794b219942e78c051c9b921ce1352bdc = L.marker(
                [-9.465, -60.0378],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_061adb2d237370eb87fcb0bff8da7c00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_794b219942e78c051c9b921ce1352bdc.setIcon(icon_061adb2d237370eb87fcb0bff8da7c00);
        
    
        var popup_f6341f74ff19435aa7d76e8725a14391 = L.popup({"maxWidth": "100%"});

        
            
                var html_864fc7599756383ded91591d58d4388b = $(`<div id="html_864fc7599756383ded91591d58d4388b" style="width: 100.0%; height: 100.0%;">Cidade: Colniza&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 37.38°C&lt;br&gt;Umidade: 28%</div>`)[0];
                popup_f6341f74ff19435aa7d76e8725a14391.setContent(html_864fc7599756383ded91591d58d4388b);
            
        

        marker_794b219942e78c051c9b921ce1352bdc.bindPopup(popup_f6341f74ff19435aa7d76e8725a14391)
        ;

        
    
    
            var marker_de3aa0fb9eb10f981d54c8b0c5bd09f8 = L.marker(
                [-17.2147, -54.1425],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_b376bb23187e448521632d92817e895a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_de3aa0fb9eb10f981d54c8b0c5bd09f8.setIcon(icon_b376bb23187e448521632d92817e895a);
        
    
        var popup_83a904a1d933ec19e472c8acfd407dd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e817272640e37f2784ababf3a2b570f = $(`<div id="html_9e817272640e37f2784ababf3a2b570f" style="width: 100.0%; height: 100.0%;">Cidade: Itiquira&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 39.05°C&lt;br&gt;Umidade: 20%</div>`)[0];
                popup_83a904a1d933ec19e472c8acfd407dd2.setContent(html_9e817272640e37f2784ababf3a2b570f);
            
        

        marker_de3aa0fb9eb10f981d54c8b0c5bd09f8.bindPopup(popup_83a904a1d933ec19e472c8acfd407dd2)
        ;

        
    
    
            var marker_b9c3808c10eb6fe77d0d13b368b05b30 = L.marker(
                [-9.8697, -56.0862],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_6e27e9caca3d5ee5d0a593c42fba706d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b9c3808c10eb6fe77d0d13b368b05b30.setIcon(icon_6e27e9caca3d5ee5d0a593c42fba706d);
        
    
        var popup_8e5c8dafa1f2054442281984a7940ab4 = L.popup({"maxWidth": "100%"});

        
            
                var html_e1cf01026735e340b3c8a6b0189fa427 = $(`<div id="html_e1cf01026735e340b3c8a6b0189fa427" style="width: 100.0%; height: 100.0%;">Cidade: Alta Floresta&lt;br&gt;Descrição: few clouds&lt;br&gt;Temperatura: 40.01°C&lt;br&gt;Umidade: 17%</div>`)[0];
                popup_8e5c8dafa1f2054442281984a7940ab4.setContent(html_e1cf01026735e340b3c8a6b0189fa427);
            
        

        marker_b9c3808c10eb6fe77d0d13b368b05b30.bindPopup(popup_8e5c8dafa1f2054442281984a7940ab4)
        ;

        
    
    
            var marker_d4742605b21d79d97c7d56ad2254f422 = L.marker(
                [-12.5422, -55.7219],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_7eb0147e0b5c33f5b71061ca2b62e6ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d4742605b21d79d97c7d56ad2254f422.setIcon(icon_7eb0147e0b5c33f5b71061ca2b62e6ac);
        
    
        var popup_57f310d154e330a00b1b18382b888979 = L.popup({"maxWidth": "100%"});

        
            
                var html_bdc8f066f408779a38b68a5a31939c8b = $(`<div id="html_bdc8f066f408779a38b68a5a31939c8b" style="width: 100.0%; height: 100.0%;">Cidade: Sorriso&lt;br&gt;Descrição: overcast clouds&lt;br&gt;Temperatura: 40.72°C&lt;br&gt;Umidade: 16%</div>`)[0];
                popup_57f310d154e330a00b1b18382b888979.setContent(html_bdc8f066f408779a38b68a5a31939c8b);
            
        

        marker_d4742605b21d79d97c7d56ad2254f422.bindPopup(popup_57f310d154e330a00b1b18382b888979)
        ;

        
    
    
            var marker_cb2ef76344ec1bb3c065a9025244c34a = L.marker(
                [-12.6085, -52.1821],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_4dea71decfa388d39a51f1c6a530103b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cb2ef76344ec1bb3c065a9025244c34a.setIcon(icon_4dea71decfa388d39a51f1c6a530103b);
        
    
        var popup_d81fc28a2ef824f2f87b74446fe130f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_e4506aa26d0b76b7fbd6e6c622c38510 = $(`<div id="html_e4506aa26d0b76b7fbd6e6c622c38510" style="width: 100.0%; height: 100.0%;">Cidade: Querência&lt;br&gt;Descrição: scattered clouds&lt;br&gt;Temperatura: 40.25°C&lt;br&gt;Umidade: 17%</div>`)[0];
                popup_d81fc28a2ef824f2f87b74446fe130f4.setContent(html_e4506aa26d0b76b7fbd6e6c622c38510);
            
        

        marker_cb2ef76344ec1bb3c065a9025244c34a.bindPopup(popup_d81fc28a2ef824f2f87b74446fe130f4)
        ;

        
    
    
            var marker_bcdf8f3a95669845de651d8ae683553e = L.marker(
                [-15.5989, -56.0949],
                {}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
    
            var icon_be39ad0a24951c179a19a4c99e713207 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bcdf8f3a95669845de651d8ae683553e.setIcon(icon_be39ad0a24951c179a19a4c99e713207);
        
    
        var popup_99ffaa4d7adc8e36b5fc54bb69cf9568 = L.popup({"maxWidth": "100%"});

        
            
                var html_2ace202af56ed6b944d9d904b83723e6 = $(`<div id="html_2ace202af56ed6b944d9d904b83723e6" style="width: 100.0%; height: 100.0%;">Cidade: Cuiabá&lt;br&gt;Descrição: clear sky&lt;br&gt;Temperatura: 42.11°C&lt;br&gt;Umidade: 18%</div>`)[0];
                popup_99ffaa4d7adc8e36b5fc54bb69cf9568.setContent(html_2ace202af56ed6b944d9d904b83723e6);
            
        

        marker_bcdf8f3a95669845de651d8ae683553e.bindPopup(popup_99ffaa4d7adc8e36b5fc54bb69cf9568)
        ;

        
    
    
            var tile_layer_ab4b699948418331c7a072d2a2463a86 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3d930b710f96e0a52efc6e0cb073c6fe);
        
</script>
</html>